@font-face {
  font-family: "metro-dr-icons";
  src: url("fonts/metro-dr-icons-1481545309.eot");
  src: url("fonts/metro-dr-icons-1481545309.eot?#iefix") format("eot"), url("fonts/metro-dr-icons-1481545309.woff2") format("woff2"), url("fonts/metro-dr-icons-1481545309.woff") format("woff"), url("fonts/metro-dr-icons-1481545309.ttf") format("truetype"), url("fonts/metro-dr-icons-1481545309.svg#metro-dr-icons-1481545309") format("svg");
  font-weight: normal;
  font-style: normal; }


[data-icon],
[class^="icon-"],
[class*=" icon-"] {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "metro-dr-icons", serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin bty-with-icon() {
  font-family: "metro-dr-icons", serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.form-control-feedback {
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 2;
  display: block;
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  pointer-events: none;
}

.input-lg + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}

.input-sm + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

[data-icon]:before {
  content: attr(data-icon);
}

.icon-account:before { content: "\F101" }
.icon-admin:before { content: "\F102" }
.icon-arrow-down:before { content: "\F103" }
.icon-arrow-left:before { content: "\F104" }
.icon-arrow-right:before { content: "\F105" }
.icon-arrow-up:before { content: "\F106" }
.icon-burger-menu:before { content: "\F107" }
.icon-burger:before { content: "\F108" }
.icon-calendar:before { content: "\F109" }
.icon-call:before { content: "\F10A" }
.icon-cart-add-to:before { content: "\F10B" }
.icon-cart:before { content: "\F10C" }
.icon-check:before { content: "\F10D" }
.icon-close-catalog:before { content: "\F10E" }
.icon-close:before { content: "\F10F" }
.icon-comment-filled:before { content: "\F110" }
.icon-comment:before { content: "\F111" }
.icon-delivery:before { content: "\F112" }
.icon-deviation:before { content: "\F113" }
.icon-download-file:before { content: "\F114" }
.icon-drag-n-drop:before { content: "\F115" }
.icon-edit:before { content: "\F116" }
.icon-filter:before { content: "\F117" }
.icon-follow-up:before { content: "\F118" }
.icon-home:before { content: "\F119" }
.icon-info:before { content: "\F11A" }
.icon-job-consolidate:before { content: "\F11B" }
.icon-job-goods-receiving:before { content: "\F11C" }
.icon-job-pallet-building:before { content: "\F11D" }
.icon-job-picking:before { content: "\F11E" }
.icon-job-putaway:before { content: "\F11F" }
.icon-job-release:before { content: "\F120" }
.icon-job-relocation:before { content: "\F121" }
.icon-job-replenish:before { content: "\F122" }
.icon-job-splitting:before { content: "\F123" }
.icon-job-truck-loading:before { content: "\F124" }
.icon-list-add-to:before { content: "\F125" }
.icon-list-on:before { content: "\F126" }
.icon-list-remove-from:before { content: "\F127" }
.icon-list:before { content: "\F128" }
.icon-locked:before { content: "\F129" }
.icon-logoout:before { content: "\F12A" }
.icon-m:before { content: "\F12B" }
.icon-mail:before { content: "\F12C" }
.icon-metro:before { content: "\F12D" }
.icon-minus:before { content: "\F12E" }
.icon-more:before { content: "\F12F" }
.icon-open-catalog:before { content: "\F130" }
.icon-play:before { content: "\F131" }
.icon-plus:before { content: "\F132" }
.icon-price-1:before { content: "\F133" }
.icon-price-2:before { content: "\F134" }
.icon-print:before { content: "\F135" }
.icon-quick-entry:before { content: "\F136" }
.icon-remove:before { content: "\F137" }
.icon-reorder:before { content: "\F138" }
.icon-search:before { content: "\F139" }
.icon-settings:before { content: "\F13A" }
.icon-shortcut:before { content: "\F13B" }
.icon-spinner:before { content: "\F13C" }
.icon-warning:before { content: "\F13D" }
.icon-toggle-list:before { content: "\F13E" }
.icon-toggle-thumbnails:before { content: "\F13F" }
.icon-unlocked:before { content: "\F140" }
.icon-upload-file:before { content: "\F141" }
.icon-substitute:before { content: "\F142" }
.icon-assign-to-me:before { content: "\F143" }
.icon-flag-filled:before { content: "\F144" }
.icon-flag:before { content: "\F145" }
.icon-makro:before { content: "\F146" }
.icon-payment-card:before { content: "\F147" }
.icon-payment-cash:before { content: "\F148" }
.icon-restricted:before { content: "\F149" }